*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
}

nav .logo{
    margin: 0 10px;
}
.navbar ul{
    display:flex;
    list-style: none;
}
.navbar ul li{
    margin: 0 40px;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: red;
    display:block;
    margin: auto;
    transition: 0.7s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.nav-media ul{
    display:flex;
    list-style: none;
    float: right;
}
.nav-media ul li{
    margin: 0 20px;
}
.nav-media ul li .fa {
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    transition: .5s;
}
.nav-media ul li .fa:hover {
    color: #ffffff;
}
.nav-media ul li a {
    display: block;
    position: relative;
    width: 50px;
    height: auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.7s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.nav-media ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.nav-media ul li:nth-child(2) a:hover {
    background-color: #3b5999;
}
.nav-media ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.nav-media ul li:nth-child(4) a:hover {
    background-color: red;
}
.nav-media ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    padding: 0 10;
    cursor:pointer;
    display: none;
   
}
#check{
    display: none;
}
@media (max-width: 940px){
    .checkbtn{
        display: block;
        padding: 0 100;
    }
    .navbar ul{
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background:grey;
        text-align: center;
        display: block;
        transition: all .5s;
    }
    .navbar ul li{
        margin: 40px 0;
    }
    .navbar ul li a{
        font-size: 20px;
        display: block;
    }
    .navbar ul li::after{
        content: "";
        width: 0%;
        height: 4px;
        background:red;
        display:block;
        margin: auto;
        transition: 0.3s;
    }
    .navbar ul li:hover::after{
        width: 100%;
    }
    .nav-media ul{
        position: fixed;
        top:90%;
        left: -100%;
        background:grey;
        height: 100vh;
        width: 100%;
        transition: all .5s;
    }
    .nav-media ul li{
        margin: 10px 20px;
    }
    #check:checked ~ .navbar ul{
        left: 0;
    } 
    #check:checked ~ .nav-media ul{
        left: 0;
    }
}